*{margin:0px;padding:0px;}
body{}

.menubar{background-color:#3A5795;height:82px;}
.wrapper {width:1000px;margin:auto}

.gbrfb{background-image:url(../images/UpWlIVioUuY.png);background-position: 0 -116px;height: 36px;width: 170px;margin-top:29px; float:left;}

.login{float:right;color:#FFF;font-weight:normal;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;margin-top:15px;width:403px;}

.input1{margin: 0;width: 142px;border:1px solid #000;}

.login a {text-decoration:none;color:#9DACCB}

.login table tr td{padding: 0 0 0 14px;}

.login label{color:#9DACCB;}

.submit1{padding:2px;border:1px solid #000;background-color:#6079AB;color:#FFF;font-size: 11px;
    font-weight: bold;font-family: "lucida grande",tahoma,verdana,arial,sans-serif;cursor: pointer;}
	
	
.content{overflow:hidden;background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #d3d8e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d3d8e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#d3d8e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#d3d8e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#d3d8e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#d3d8e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d3d8e8',GradientType=0 ); /* IE6-9 */;width:100%
}

.cleft{float:left; width:537px;}
.cleft p{color: #0e385f;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;}
	
.cright{float:left;width:300px;padding-left:55px;}
.cright h1{color: #141823;font-size: 30px;font-weight: normal;font-family:Freight Sans Bold,lucida grande,tahoma,verdana,arial,sans-serif;margin-top:25px;margin-bottom:18px;}
.cright h2{font-weight:lighter;font-size:19px;margin-bottom:15px;}


.input2 {margin-right:15px;width:175px;}
.input2 ,.input3{font-size: 18px;padding: 8px 10px;border-radius:5px;border:solid 1px #C6CEDD;margin-bottom:10px;}
.ipt1{margin-right:10px}
.input3{width:390px;}
.cright p{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:18px;font-weight:normal;margin-bottom:5px;}
.cright select{font-size: 13px;height: 30px; padding: 5px;}
.cright label{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:9px;color:#3B5998}
.cright hr{margin-top:15px;margin-bottom:15px;}
.tbbtm{width:400px;}
.tbbtm2{width:250px;}
.tbbtm3{line-height:10px;}
.rbt{font-size:18px;}
.rbt input{margin-bottom:10px;margin-top:10px;}

.agrm{width:320px}
.agrm p{color:#666;font-size:11px;margin-bottom:15px;}
.agrm a{text-decoration:none;color:#3B5998}

.dftr{padding:2px;border:1px solid #000;background-color:#5E934A;color:#FFF;font-size: 11px;
    font-weight: bold;font-family: "lucida grande",tahoma,verdana,arial,sans-serif;cursor: pointer;border-radius:5px;border:solid 1px #C6CEDD;font-size:18px;padding:7px 35px 7px 35px;;}

.grp-inv{border-top: solid 1px #ccc;margin-top:10px;padding-top:10px;width:450px;}	
.grp-inv p{font-size:13px;font-weight:600;color:#666}
.grp-inv a{text-decoration:none;color:#3A5795}


footer{overflow:hidden}
.ft1{height:37px;border-bottom: solid 1px #ccc;width:987px;}
.ft1 a{float:left;line-height:37px;text-decoration:none;margin-right:10px;color:#3A5795;font-size:11px;font:Tahoma, Geneva, sans-serif;font-weight:normal}
.ft1 li{list-style:none;}
.showMore{padding:2px;height:10px;}

.ft2t a{text-decoration:none;color:#3A5795;font-size:11px;font:Tahoma, Geneva, sans-serif;font-weight:normal}
.ft2t {width:60%}

.ft3{font-size:12px;color:#666666;margin-top:15px;margin-bottom:15px;}
.ft3 a{text-decoration:none;font-size:12px;color:#3A5795}






